div:has(.form) {
  display: grid;
  place-items: center;
  min-height: 70dvh;
  font-family: var(--font-sans);
  font-variation-settings: "wght" 500;
  font-size: var(--step-0);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-s-m);
}

.form > div {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs-2xs);
  width: clamp(20rem, 50vw, 30rem);
}

.form > div > :is(input, textarea) {
  padding: var(--offset-l);
  border: 1px solid var(--color-text);
  max-width: 100%;

  &:valid {
    border-color: var(--color-teal);
  }

  &:user-invalid {
    border-color: var(--color-wine);
  }
}

.form > div > :is(input, textarea):focus-visible {
  outline: var(--focus-visible-teal);
  border-color: transparent;
}

.form > button {
  padding: var(--offset-l);
  border: none;
  background-color: var(--color-teal);
  color: var(--color-almost-white);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.form > button:focus-visible {
  outline: var(--focus-visible-wine);
  outline-offset: var(--outline-offset);
}

.form > button:hover {
  background-color: color-mix(in lch, var(--color-dark) 25%, var(--color-teal));
}

.form > button:disabled {
  background-color: hsl(from var(--color-text) h s l / 50%);
  cursor: not-allowed;
}

@media (width < 1100px) {
  div:has(.form) {
    min-height: unset;
  }
}
