.footerContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: calc(100 / 12 * 3dvh);
}

.footerContainer > section:first-child {
  grid-column: 2 / 7;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
  font-family: var(--font-sans);
  font-variation-settings: "wght" 800;
  font-size: clamp(0.875rem, 0.3043rem + 2.25vi, 1.5rem);
  color: var(--color-black);
}

.footerContainer > section:first-child span {
  max-width: 45ch;
}

.footerContainer > section:last-child {
  grid-column: 8 / 12;
  grid-row: 2 / 4;
  margin-block-start: 0.2rem;
}

.footerContainer > section:last-child div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  font-family: var(--font-sans);
  font-variation-settings: "wght" 800;
  font-size: clamp(0.75rem, 0.3043rem + 2.25vi, 1rem);
}

.footerContainer > section:last-child div a {
  text-decoration: none;
  color: var(--color-black);
}

.footerContainer > section:last-child div a:hover {
  text-decoration: underline;
}

.footerContainer > section:last-child div a:focus-visible {
  outline: 0.25rem solid var(--color-wine);
  outline-offset: 0.25rem;
}

@media (width < 1300px) {
  .footerContainer > section:first-child {
    grid-column: 1 / 7;
    padding-inline-start: 0.5rem;
  }

  .footerContainer > section:last-child {
    grid-column: 8 / 13;
  }
}

@media (width < 700px) {
  .footerContainer > section:last-child div {
    gap: 1rem;
  }
}

@media (width < 500px) {
  .footerContainer > section:last-child div {
    gap: 0.5rem;
  }
}

@media (height < 850px) {
  .footerContainer {
    height: calc(100 / 12 * 4dvh);
  }
}

@media (height < 650px) {
  .footerContainer {
    height: calc(100 / 12 * 5dvh);
  }
}

@media (height < 550px) {
  .footerContainer {
    height: calc(100 / 12 * 6dvh);
  }
}
