@font-face {
  font-family: Satoshi-Variable;
  src: url("../public/fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

:root {
  /* Colors */
  --color-teal: hsl(180deg 100% 25%);
  --color-wheat: hsl(42deg 50% 86%);
  --color-wine: hsl(348deg 48% 44%);
  --color-green: hsl(100deg 78% 17%);
  --color-dark: hsl(210deg 12% 20%);
  --color-almost-white: hsl(30deg 5% 98%);
  --color-black: hsl(0deg 0% 0%);

  /* Utility colors */
  --color-background: var(--color-almost-white);
  --color-text: var(--color-dark);
  --color-shadow: var(--color-dark);
  --route-color-opacity: 15%;

  /* Typography */
  --font-sans: "Satoshi-Variable", "Helvetica Neue", sans-serif;

  /* Focus state */
  --focus-visible-wine: 0.25rem solid var(--color-wine);
  --focus-visible-teal: 0.25rem solid var(--color-teal);

  /* Offset */
  --outline-offset: 0.25rem;

  /* Padding & Margin */
  --offset-xs: 0.125rem;
  --offset-s: 0.25rem;
  --offset-m: 0.5rem;
  --offset-l: 0.75rem;
  --offset-xl: 1rem;
  --offset-2xl: 2rem;

  /* Animation */
  --easing-normal: cubic-bezier(0.5, 0.1, 0.5, 1);

  /*
  Font sizes
  @link https://utopia.fyi/type/calculator?c=375,15,1.125,1440,18,1.2,10,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
  */
  --step--2: clamp(0.7407rem, 0.7265rem + 0.0609vw, 0.7813rem);
  --step--1: clamp(0.8333rem, 0.7967rem + 0.1565vw, 0.9375rem);
  --step--05: clamp(0.9375rem, 0.8715rem + 0.2817vw, 1.125rem);
  --step-0: clamp(0.9375rem, 0.8715rem + 0.2817vw, 1.125rem);
  --step-1: clamp(1.0547rem, 0.9507rem + 0.4437vw, 1.35rem);
  --step-2: clamp(1.1865rem, 1.0339rem + 0.6512vw, 1.62rem);
  --step-3: clamp(1.3348rem, 1.1203rem + 0.9152vw, 1.944rem);
  --step-4: clamp(1.5017rem, 1.2091rem + 1.2486vw, 2.3328rem);
  --step-5: clamp(1.6894rem, 1.2986rem + 1.6675vw, 2.7994rem);
  --step-6: clamp(1.9006rem, 1.387rem + 2.1914vw, 3.3592rem);
  --step-7: clamp(2.1382rem, 1.4716rem + 2.8438vw, 4.0311rem);
  --step-8: clamp(2.4054rem, 1.5491rem + 3.6535vw, 4.8373rem);
  --step-9: clamp(2.7061rem, 1.615rem + 4.6553vw, 5.8048rem);
  --step-10: clamp(3.0444rem, 1.6636rem + 5.8912vw, 6.9657rem);
  --hero-font-size: clamp(7rem, 12vw, 14rem);
  --grid-link-font-size: clamp(1rem, 0.3043rem + 2.25vw, 2.25rem);

  /* Text line max-width */
  --text-line-max-width: 60ch;

  /*
  Spacing
  @link https://utopia.fyi/space/calculator?c=375,15,1.2,1440,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
  */
  --space-4xs: clamp(0.125rem, 0.114rem + 0.031vw, 0.1875rem);
  --space-3xs: clamp(0.25rem, 0.228rem + 0.0939vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.478rem + 0.0939vw, 0.5625rem);
  --space-xs: clamp(0.6875rem, 0.6215rem + 0.2817vw, 0.875rem);
  --space-s: clamp(0.9375rem, 0.8715rem + 0.2817vw, 1.125rem);
  --space-m: clamp(1.4375rem, 1.3495rem + 0.3756vw, 1.6875rem);
  --space-l: clamp(1.875rem, 1.743rem + 0.5634vw, 2.25rem);
  --space-xl: clamp(2.8125rem, 2.6144rem + 0.8451vw, 3.375rem);
  --space-2xl: clamp(3.75rem, 3.4859rem + 1.1268vw, 4.5rem);
  --space-3xl: clamp(5.625rem, 5.2289rem + 1.6901vw, 6.75rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.14rem + 0.4695vw, 0.5625rem);
  --space-2xs-xs: clamp(0.5rem, 0.368rem + 0.5634vw, 0.875rem);
  --space-xs-s: clamp(0.6875rem, 0.5335rem + 0.6573vw, 1.125rem);
  --space-s-m: clamp(0.9375rem, 0.6734rem + 1.1268vw, 1.6875rem);
  --space-m-l: clamp(1.4375rem, 1.1514rem + 1.2207vw, 2.25rem);
  --space-l-xl: clamp(1.875rem, 1.3468rem + 2.2535vw, 3.375rem);
  --space-xl-2xl: clamp(2.8125rem, 2.2183rem + 2.5352vw, 4.5rem);
  --space-2xl-3xl: clamp(3.75rem, 2.6937rem + 4.507vw, 6.75rem);

  /* Custom pairs */
  --space-s-l: clamp(0.9375rem, 0.4754rem + 1.9718vw, 2.25rem);
}

.dark {
  --color-background: var(--color-dark);
  --color-text: var(--color-almost-white);
  --color-shadow: var(--color-almost-white);

  /* warmer tones */
  --color-wheat: hsl(42deg 45% 72%);
  --color-wine: hsl(348deg 65% 55%);
  --color-green: hsl(100deg 65% 25%);
  --color-almost-white: hsl(30deg 15% 92%);

  /* increase opacity */
  --route-color-opacity: 45%;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;

  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background);
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 10. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

aside {
  --banner-image: url("/images/bg_xl.avif");

  position: absolute;
  width: 100%;
  height: 65.85%;
  top: 16.5vh;
  z-index: -1;
  background-image: var(--banner-image);
  background-size: cover;
  background-position: center;
}

aside::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: hsl(from var(--color-teal) h s l / 15%);
}

@media (width < 1400px) {
  aside {
    --banner-image: url("/images/bg_l.avif");
  }
}

@media (width < 1100px) {
  aside {
    height: 45.85%;
  }
}

@media (width < 1000px) {
  aside {
    --banner-image: url("/images/bg_m.avif");
  }
}

@media (width < 900px) {
  :root {
    --color-almost-white: hsl(30deg 5% 98%);
  }
}

@media (width < 800px) {
  aside {
    --banner-image: url("/images/bg_s.avif");
  }
}

@media (width < 750px) {
  aside {
    height: 30.85%;
  }
}

@media (width < 600px) {
  aside {
    --banner-image: url("/images/bg_xs.avif");
  }
}

@media (height < 500px) {
  aside {
    height: 50.85%;
  }
}
