@font-face {
  font-family: Satoshi-Variable;
  src:
    url("../public/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("../public/fonts/Satoshi-Variable.woff") format("woff"),
    url("../public/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

:root {
  /* Colors */
  --color-teal: hsl(180deg 100% 25%);
  --color-wheat: hsl(46deg 57% 88%);
  --color-wine: hsl(348deg 48% 44%);
  --color-green: hsl(100deg 78% 17%);
  --color-dark: hsl(218deg 16% 29%);
  --color-almost-white: hsl(22deg 67% 98%);
  --color-black: hsl(0deg 0% 0%);
  --color-white: hsl(0deg 0% 100%);

  /* Typography */
  --font-sans: "Satoshi-Variable", "Helvetica Neue", sans-serif;

  /* Focus state */
  --focus-visible-wine: 0.25rem solid var(--color-wine);
  --focus-visible-teal: 0.25rem solid var(--color-teal);

  /* Offset */
  --outline-offset: 0.25rem;

  /* Animation */
  --easing-normal: cubic-bezier(0.5, 0.1, 0.5, 1);
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;

  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-almost-white);
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 10. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

aside {
  --banner-image: url("/images/bg_xl.avif");

  position: absolute;
  width: 100%;
  height: 65.85%;
  top: 16.75%;
  z-index: -1;
  background-image: var(--banner-image);
  background-size: cover;
  background-position: center;
}

aside::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: hsl(from var(--color-teal) h s l / 15%);
}

@media (width < 1400px) {
  aside {
    --banner-image: url("/images/bg_l.avif");
  }
}

@media (width < 1100px) {
  aside {
    height: 45.85%;
  }
}

@media (width < 1000px) {
  aside {
    --banner-image: url("/images/bg_m.avif");
  }
}

@media (width < 800px) {
  aside {
    --banner-image: url("/images/bg_s.avif");
  }
}

@media (width < 750px) {
  aside {
    height: 30.85%;
  }
}

@media (width < 600px) {
  aside {
    --banner-image: url("/images/bg_xs.avif");
  }
}

@media (height < 500px) {
  aside {
    height: 50.85%;
  }
}
