.gridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(18, 1fr);
  height: calc(100 / 12 * 18dvh);
}

.gridContainer nav:first-of-type {
  grid-column: 7 / 13;
  grid-row: 4 / 10;
}

.gridContainer nav:last-of-type {
  grid-column: 1 / 7;
  grid-row: 12 / 18;
}

.gridContainer nav ul {
  display: grid;
  place-items: center;
  padding: 0;
  height: 100%;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
}

.gridContainer nav ul li {
  display: grid;
  place-content: center;
  height: 100%;
  width: 100%;

  /* placehoder values */
  border: 0.5rem solid white;
  font-size: 2.25rem;
  font-family: var(--font-sans);
  font-variation-settings: "wght" 800;
}

.gridContainer
  nav:first-of-type
  li:is(:nth-child(1), :nth-child(5), :nth-child(9)) {
  background-color: var(--color-tertiary);
}

.gridContainer
  nav:first-of-type
  li:is(:nth-child(2), :nth-child(6), :nth-child(7)) {
  background-color: var(--color-primary);
}

.gridContainer
  nav:first-of-type
  li:is(:nth-child(3), :nth-child(4), :nth-child(8)) {
  background-color: var(--color-secondary);
}

.gridContainer
  nav:last-of-type
  li:is(:nth-child(2), :nth-child(4), :nth-child(8)) {
  background-color: var(--color-tertiary);
}

.gridContainer
  nav:last-of-type
  li:is(:nth-child(1), :nth-child(6), :nth-child(7)) {
  background-color: var(--color-primary);
}

.gridContainer
  nav:last-of-type
  li:is(:nth-child(3), :nth-child(5), :nth-child(9)) {
  background-color: var(--color-secondary);
}

.gridContainer nav li a {
  text-decoration: none;
  color: black;
}

.gridContainer nav li a:hover {
  text-decoration: underline;
}

.gridContainer
  nav:first-of-type
  li:is(
    :nth-child(2),
    :nth-child(3),
    :nth-child(4),
    :nth-child(6),
    :nth-child(7),
    :nth-child(8)
  )
  a {
  color: white;
}

.gridContainer
  nav:last-of-type
  li:is(
    :nth-child(1),
    :nth-child(3),
    :nth-child(5),
    :nth-child(6),
    :nth-child(7),
    :nth-child(9)
  )
  a {
  color: white;
}
