.gridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(18, 1fr);
  height: calc(100 / 12 * 18dvh);
}

.gridContainer nav:first-of-type {
  grid-column: 7 / 13;
  grid-row: 4 / 10;
}

.gridContainer nav:last-of-type {
  grid-column: 1 / 7;
  grid-row: 12 / 18;
}

.gridContainer nav ul {
  display: grid;
  place-items: center;
  padding: 0;
  height: 100%;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
}

.gridContainer nav ul li {
  display: grid;
  place-content: center;
  height: 100%;
  width: 100%;
  border: 0.5rem solid var(--color-almost-white);
  font-size: clamp(1rem, 0.3043rem + 2.5vi, 2.5rem);
  font-family: var(--font-sans);
  font-variation-settings: "wght" 800;
}

.gridContainer
  nav:first-of-type
  li:is(:nth-child(1), :nth-child(6), :nth-child(7)) {
  background-color: var(--color-wheat);
}

.gridContainer
  nav:first-of-type
  li:is(:nth-child(3), :nth-child(5), :nth-child(9)) {
  background-color: var(--color-wine);
}

.gridContainer
  nav:first-of-type
  li:is(:nth-child(2), :nth-child(4), :nth-child(8)) {
  background-color: var(--color-teal);
}

.gridContainer
  nav:last-of-type
  li:is(:nth-child(2), :nth-child(4), :nth-child(8)) {
  background-color: var(--color-wheat);
}

.gridContainer
  nav:last-of-type
  li:is(:nth-child(1), :nth-child(6), :nth-child(7)) {
  background-color: var(--color-wine);
}

.gridContainer
  nav:last-of-type
  li:is(:nth-child(3), :nth-child(5), :nth-child(9)) {
  background-color: var(--color-teal);
}

.gridContainer nav li a {
  text-decoration: none;
  color: var(--color-black);
}

.gridContainer nav li a:hover,
.gridContainer nav li a:focus-visible {
  text-decoration: underline;
}

.gridContainer nav li a:focus-visible {
  outline: 0.25rem solid currentcolor;
  outline-offset: 0.5rem;
}

.gridContainer
  nav:first-of-type
  li:is(
    :nth-child(2),
    :nth-child(3),
    :nth-child(4),
    :nth-child(5),
    :nth-child(8),
    :nth-child(9)
  )
  a {
  color: var(--color-almost-white);
}

.gridContainer
  nav:last-of-type
  li:is(
    :nth-child(1),
    :nth-child(3),
    :nth-child(5),
    :nth-child(6),
    :nth-child(7),
    :nth-child(9)
  )
  a {
  color: var(--color-almost-white);
}

@media (width < 1100px) {
  .gridContainer nav:first-of-type {
    grid-column: 1 / 13;
    grid-row: 2 / 10;
  }

  .gridContainer nav:last-of-type {
    grid-column: 1 / 13;
    grid-row: 11 / 19;
  }
}

@media (width < 750px) {
  .gridContainer nav:first-of-type {
    grid-column: 1 / 13;
    grid-row: 1 / 10;
  }

  .gridContainer nav:last-of-type {
    grid-row: 10 / 19;
  }

  .gridContainer nav ul {
    grid-template-areas: unset;
  }

  .gridContainer nav:first-of-type ul {
    border-block-start: 0.125rem solid var(--color-almost-white);
  }

  .gridContainer nav ul li {
    border-width: 0.125rem 0;
  }

  .gridContainer nav li a {
    color: var(--color-almost-white);
  }

  .gridContainer
    nav:first-of-type
    li:is(:nth-child(2), :nth-child(4), :nth-child(7)) {
    background-color: var(--color-wheat);
  }

  .gridContainer
    nav:first-of-type
    li:is(:nth-child(2), :nth-child(4), :nth-child(7))
    a {
    color: var(--color-black);
  }

  .gridContainer
    nav:first-of-type
    li:is(:nth-child(1), :nth-child(6), :nth-child(8)) {
    background-color: var(--color-wine);
  }

  .gridContainer
    nav:first-of-type
    li:is(:nth-child(3), :nth-child(5), :nth-child(9)) {
    background-color: var(--color-teal);
  }

  .gridContainer
    nav:last-of-type
    li:is(:nth-child(1), :nth-child(4), :nth-child(8)) {
    background-color: var(--color-wheat);
  }

  .gridContainer
    nav:last-of-type
    li:is(:nth-child(1), :nth-child(4), :nth-child(8))
    a {
    color: var(--color-black);
  }

  .gridContainer
    nav:last-of-type
    li:is(:nth-child(2), :nth-child(5), :nth-child(7)) {
    background-color: var(--color-wine);
  }

  .gridContainer
    nav:last-of-type
    li:is(:nth-child(3), :nth-child(6), :nth-child(9)) {
    background-color: var(--color-teal);
  }
}
