.gridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(18, 1fr);
  height: calc(100 / 12 * 18dvh);
}

.gridContainer nav:first-of-type {
  --first-nav-column-start: 7;
  --first-nav-column-end: 13;
  --first-nav-row-start: 4;
  --first-nav-row-end: 10;

  grid-column: var(--first-nav-column-start) / var(--first-nav-column-end);
  grid-row: var(--first-nav-row-start) / var(--first-nav-row-end);
}

.gridContainer nav:last-of-type {
  --second-nav-column-start: 1;
  --second-nav-column-end: 7;
  --second-nav-row-start: 12;
  --second-nav-row-end: 18;

  grid-column: var(--second-nav-column-start) / var(--second-nav-column-end);
  grid-row: var(--second-nav-row-start) / var(--second-nav-row-end);
}

.gridContainer nav ul {
  display: grid;
  place-items: center;
  padding: 0;
  height: 100%;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
  grid-template-columns: repeat(3, 1fr);
}

.gridContainer nav ul li {
  display: grid;
  place-content: center;
  height: 100%;
  width: 100%;
  border: 0.5rem solid var(--color-background);
  font-size: var(--grid-link-font-size);
  font-family: var(--font-sans);
  font-variation-settings: "wght" 800;
}

.gridContainer
  nav:first-of-type
  li:is(:nth-of-type(1), :nth-of-type(6), :nth-of-type(7)) {
  background-color: var(--color-wheat);
}

.gridContainer
  nav:first-of-type
  li:is(:nth-of-type(3), :nth-of-type(5), :nth-of-type(9)) {
  background-color: var(--color-wine);
}

.gridContainer
  nav:first-of-type
  li:is(:nth-of-type(2), :nth-of-type(4), :nth-of-type(8)) {
  background-color: var(--color-teal);
}

.gridContainer
  nav:last-of-type
  li:is(:nth-of-type(2), :nth-of-type(4), :nth-of-type(8)) {
  background-color: var(--color-wheat);
}

.gridContainer
  nav:last-of-type
  li:is(:nth-of-type(1), :nth-of-type(6), :nth-of-type(7)) {
  background-color: var(--color-wine);
}

.gridContainer
  nav:last-of-type
  li:is(:nth-of-type(3), :nth-of-type(5), :nth-of-type(9)) {
  background-color: var(--color-teal);
}

.gridContainer nav li a {
  text-decoration: none;
  color: var(--color-dark);
}

.gridContainer nav li a:hover,
.gridContainer nav li a:focus-visible {
  text-decoration: underline;
}

.gridContainer nav li a:focus-visible {
  outline: 0.25rem solid currentcolor;
  outline-offset: calc(var(--outline-offset) * 2);
}

.gridContainer
  nav:first-of-type
  li:is(
    :nth-of-type(2),
    :nth-of-type(3),
    :nth-of-type(4),
    :nth-of-type(5),
    :nth-of-type(8),
    :nth-of-type(9)
  )
  a {
  color: var(--color-almost-white);
}

.gridContainer
  nav:last-of-type
  li:is(
    :nth-of-type(1),
    :nth-of-type(3),
    :nth-of-type(5),
    :nth-of-type(6),
    :nth-of-type(7),
    :nth-of-type(9)
  )
  a {
  color: var(--color-almost-white);
}

@media (width < 1100px) {
  .gridContainer {
    grid-template-rows: repeat(19, 1fr);
  }

  .gridContainer nav:first-of-type {
    --first-nav-column-start: 1;
    --first-nav-row-start: 2;
    --first-nav-row-end: 11;
  }

  .gridContainer nav:last-of-type {
    --second-nav-column-end: 13;
    --second-nav-row-start: 11;
    --second-nav-row-end: 20;
  }

  .gridContainer
    nav:first-of-type
    li:is(:nth-of-type(1), :nth-of-type(2), :nth-of-type(3)) {
    outline: calc(var(--outline-offset) * 2) solid var(--color-background);
  }
}

@media (width < 750px) {
  .gridContainer {
    height: calc(100 / 12 * 19lvh);
    grid-template-rows: repeat(22, 1fr);
  }

  .gridContainer nav:first-of-type {
    --first-nav-row-start: 1;
    --first-nav-row-end: 12;
  }

  .gridContainer nav:last-of-type {
    --second-nav-row-start: 12;
    --second-nav-row-end: 23;
  }

  .gridContainer nav ul {
    grid-template-areas: unset;
    grid-template-columns: unset;
  }

  .gridContainer nav:first-of-type ul {
    border-block-start: 0.125rem solid var(--color-background);
  }

  .gridContainer nav ul li {
    border-width: 0.125rem 0;
  }

  .gridContainer nav li a {
    color: var(--color-almost-white);
  }

  .gridContainer
    nav:first-of-type
    li:is(:nth-of-type(1), :nth-of-type(2), :nth-of-type(3)) {
    outline: unset;
  }

  .gridContainer
    nav:first-of-type
    li:is(:nth-of-type(2), :nth-of-type(4), :nth-of-type(7)) {
    background-color: var(--color-wheat);
  }

  .gridContainer
    nav:first-of-type
    li:is(:nth-of-type(2), :nth-of-type(4), :nth-of-type(7))
    a {
    color: var(--color-black);
  }

  .gridContainer
    nav:first-of-type
    li:is(:nth-of-type(1), :nth-of-type(6), :nth-of-type(8)) {
    background-color: var(--color-wine);
  }

  .gridContainer
    nav:first-of-type
    li:is(:nth-of-type(3), :nth-of-type(5), :nth-of-type(9)) {
    background-color: var(--color-teal);
  }

  .gridContainer
    nav:last-of-type
    li:is(:nth-of-type(1), :nth-of-type(4), :nth-of-type(8)) {
    background-color: var(--color-wheat);
  }

  .gridContainer
    nav:last-of-type
    li:is(:nth-of-type(1), :nth-of-type(4), :nth-of-type(8))
    a {
    color: var(--color-black);
  }

  .gridContainer
    nav:last-of-type
    li:is(:nth-of-type(2), :nth-of-type(5), :nth-of-type(7)) {
    background-color: var(--color-wine);
  }

  .gridContainer
    nav:last-of-type
    li:is(:nth-of-type(3), :nth-of-type(6), :nth-of-type(9)) {
    background-color: var(--color-teal);
  }
}

@media (height < 500px) {
  .gridContainer {
    height: calc(100 / 12 * 30dvh);
  }
}
