.headerContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  height: calc(100 / 12 * 5dvh);
}

.headerContainer > h1 {
  grid-column: 4 / 10;
  grid-row: 4 / 6;
  justify-self: center;
  font-family: var(--font-sans);
  font-variation-settings: "wght" 800;
  font-size: var(--hero-font-size);
  color: hsl(from var(--color-wine) h s l / 75%);
  text-shadow: 0.55rem 0 0 hsl(from var(--color-teal) h s l / 75%);
}

.headerContainer > div:last-child {
  grid-column: 7 / 13;
  grid-row: 1 / 2;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline-end: var(--offset-xl);
}

/* Theme & Menu buttons */
.headerContainer > div:last-child button {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  cursor: pointer;
  border: none;
  background: transparent;
  font-family: var(--font-sans);
  font-variation-settings: "wght" 500;
  font-size: var(--step-6);
  text-transform: uppercase;
}

.headerContainer > div:last-child button:focus-visible {
  outline: var(--focus-visible-wine);
  outline-offset: var(--outline-offset);
}

.headerContainer > div:last-child > button img {
  transition: transform 0.5s ease-in-out;
}

.headerContainer > div:last-child > button:hover > img,
.headerContainer > div:last-child > button:focus-visible > img {
  transform: rotate(15deg);
}

.headerContainer > div:last-child div button:focus-visible {
  outline-offset: calc(var(--outline-offset) * -1);
}

@media (width > 2000px) {
  .headerContainer > div:last-child {
    grid-column: 8 / 13;
  }
}

@media (width > 1800px) {
  .headerContainer > h1 {
    grid-column: 3 / 10;
  }
}

@media (width > 1500px) {
  .headerContainer > h1 {
    justify-self: unset;
  }
}

@media (width < 1500px) {
  .headerContainer > div:last-child {
    grid-column: 6 / 13;
  }
}

@media (width < 1200px) {
  .headerContainer > div:last-child {
    grid-column: 5 / 13;
  }
}

@media (width < 1100px) {
  .headerContainer > h1 {
    grid-row: 3 / 5;
  }
}

@media (width < 900px) {
  .headerContainer > div:last-child > button img {
    height: 2rem;
  }

  .headerContainer > div:last-child button p {
    display: none;
  }

  .headerContainer > div:last-child {
    grid-column: 9 / 13;
  }

  .headerContainer > div:last-child button img {
    max-width: 80%;
  }
}

@media (width < 550px) {
  .headerContainer {
    height: calc(100 / 12 * 5lvh);
  }

  .headerContainer > h1 {
    font-size: 5rem;
    text-shadow: 0.275rem 0 0 hsl(from var(--color-teal) h s l / 75%);
  }

  .headerContainer > div:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 8 / 13;
    justify-items: end;
  }

  .headerContainer > div:last-child button img {
    max-width: unset;
  }
}

@media (height < 500px) {
  .headerContainer {
    height: calc(100 / 12 * 8dvh);
  }
}
