.headerContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  height: calc(100 / 12 * 5dvh);
}

.headerContainer > h1 {
  --title-column-start: 4;
  --title-column-end: 10;
  --title-row-start: 4;
  --title-row-end: 6;

  grid-column: var(--title-column-start) / var(--title-column-end);
  grid-row: var(--title-row-start) / var(--title-row-end);
  justify-self: center;
  font-family: var(--font-sans);
  font-variation-settings: "wght" 800;
  font-size: var(--hero-font-size);
  color: hsl(from var(--color-wine) h s l / 75%);
  text-shadow: 0.55rem 0 0 hsl(from var(--color-teal) h s l / 75%);
}

.headerContainer > div:last-child {
  --top-buttons-column-start: 7;
  --top-buttons-column-end: 13;
  --top-buttons-row-start: 1;
  --top-buttons-row-end: 2;

  grid-column: var(--top-buttons-column-start) / var(--top-buttons-column-end);
  grid-row: var(--top-buttons-row-start) / var(--top-buttons-row-end);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: var(--offset-xl);
}

/* Theme & Menu buttons */
.headerContainer > div:last-child button {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  cursor: pointer;
  border: none;
  background: transparent;
  font-family: var(--font-sans);
  font-variation-settings: "wght" 500;
  font-size: var(--step-4);
  text-transform: uppercase;
}

.headerContainer > div:last-child button:focus-visible {
  outline: var(--focus-visible-wine);
  outline-offset: var(--outline-offset);
}

.headerContainer > div:last-child > button img {
  transition: transform 0.5s ease-in-out;
}

.headerContainer > div:last-child > button:hover > img,
.headerContainer > div:last-child > button:focus-visible > img {
  transform: rotate(15deg);
}

.headerContainer > div:last-child div button:focus-visible {
  outline-offset: calc(var(--outline-offset) * -1);
}

@media (width > 2000px) {
  .headerContainer > div:last-child {
    --top-buttons-column-start: 7;
  }

  .headerContainer > div:last-child button {
    font-size: var(--step-5);
  }
}

@media (width > 1800px) {
  .headerContainer > h1 {
    --title-column-start: 3;
  }
}

@media (width < 1700px) {
  .headerContainer > div:last-child {
    --top-buttons-column-start: 5;
  }
}

@media (width > 1500px) {
  .headerContainer > h1 {
    justify-self: unset;
  }
}

@media (width < 1400px) {
  .headerContainer > div:last-child > button img {
    height: 2.25rem;
  }
}

@media (width < 1200px) {
  .headerContainer > div:last-child {
    --top-buttons-column-start: 5;
  }

  .headerContainer > div:last-child button {
    font-size: var(--step-3);
  }
}

@media (width < 1100px) {
  .headerContainer > h1 {
    --title-row-start: 3;
    --title-row-end: 5;
  }
}

@media (width < 1000px) {
  .headerContainer > div:last-child > button img {
    height: 2rem;
    max-width: unset;
  }

  .headerContainer > div:last-child button p {
    position: absolute;
    overflow: hidden;
    clip-path: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  .headerContainer > div:last-child {
    --top-buttons-column-start: 9;
  }
}

@media (width < 750px) {
  .headerContainer > div:last-child {
    --top-buttons-column-start: 7;

    display: grid;
    grid-template-columns: repeat(4, 3rem);
    justify-items: end;
    margin-inline: unset;
  }
}

@media (width < 550px) {
  .headerContainer {
    height: calc(100 / 12 * 5lvh);
  }

  .headerContainer > h1 {
    font-size: 5rem;
    text-shadow: 0.275rem 0 0 hsl(from var(--color-teal) h s l / 75%);
  }

  .headerContainer > div:last-child button img {
    height: 1.875rem;
  }
}

@media (height < 500px) {
  .headerContainer {
    height: calc(100 / 12 * 8dvh);
  }
}
