/* stylelint-disable number-max-precision */
.languageToggleButton {
  padding: var(--offset-m) var(--offset-xl);
}

.toggleOption {
  color: hsl(from var(--color-black) h s l / 50%);
  transition: color 0.2s var(--easing-normal);
}

.toggleOption[data-active="true"] {
  color: transparent;
  filter: drop-shadow(0.5px 0 0 var(--color-black))
    drop-shadow(-0.5px 0 0 var(--color-black))
    drop-shadow(0 0.5px 0 var(--color-black))
    drop-shadow(0 -0.5px 0 var(--color-black))
    drop-shadow(0.5px 0.5px 0 var(--color-black))
    drop-shadow(-0.5px -0.5px 0 var(--color-black))
    drop-shadow(0.5px -0.5px 0 var(--color-black))
    drop-shadow(-0.5px 0.5px 0 var(--color-black));
}

@supports (-webkit-hyphens: none) and (not (-moz-appearance: none)) {
  .toggleOption[data-active="true"] {
    filter: drop-shadow(0.06125rem 0 0 var(--color-black))
      drop-shadow(-0.06125rem 0 0 var(--color-black))
      drop-shadow(0 0.06125rem 0 var(--color-black))
      drop-shadow(0 -0.06125rem 0 var(--color-black))
      drop-shadow(0.06125rem 0.06125rem 0 var(--color-black))
      drop-shadow(-0.0625rem -0.0625rem 0 var(--color-black))
      drop-shadow(0.0625rem -0.06125rem 0 var(--color-black))
      drop-shadow(-0.06125rem 0.0625rem 0 var(--color-black));
  }
}

.toggleDivider {
  color: hsl(from var(--color-black) h s l / 25%);
  margin-inline: var(--offset-xs);
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (width < 900px) {
  .toggleDivider,
  .toggleOption[data-active="false"] {
    display: none;
  }
}
