.dropdownButton {
  padding: var(--offset-m) var(--offset-xl);
  color: var(--color-text);
}

.themeButton,
.dropdownMenu {
  color: var(--color-text);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.themeButton.mounted,
.dropdownMenu.mounted {
  opacity: 1;
}

.menu {
  display: none;
  position: absolute;
  top: 5rem;
  right: 4rem;
  list-style: none;
  padding: 0;
  width: 10rem;
  background-color: var(--color-background);
  border: 0.0625rem solid var(--color-text);
  box-shadow: 0.25rem 0.25rem var(--color-text);
}

.menu[data-open="true"] {
  display: block;
  z-index: 1;
}

.menu > li > a {
  display: flex;
  text-decoration: none;
  padding: var(--offset-s) var(--offset-l);
  font-family: var(--font-sans);
  font-variation-settings: "wght" 500;
  font-size: var(--step-0);
  color: var(--color-text);
}

.menu > li:hover {
  background-color: var(--color-shadow);
}

.menu > li:hover > a {
  color: var(--color-background);
}

.menu > li > a:focus-visible {
  outline: var(--focus-visible-wine);
  outline-offset: calc(var(--outline-offset) * -1);
}

.menu > li:not(:last-child) {
  border-bottom: 0.0625rem solid var(--color-text);
}

.burger {
  --bar-width: 2rem;
  --bar-height: 0.25rem;
  --bar-gap: var(--space-2xs);

  display: grid;
  gap: var(--bar-gap);
}

.burger > span {
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--color-text);
  transform-origin: center;

  /* placeholder values */
  transition:
    transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.burger[data-open="true"] > span:nth-child(1) {
  transform: translateY(calc(var(--bar-gap) + var(--bar-height))) rotate(45deg);
}

.burger[data-open="true"] > span:nth-child(2) {
  opacity: 0;
}

.burger[data-open="true"] > span:nth-child(3) {
  transform: translateY(calc(-1 * (var(--bar-gap) + var(--bar-height))))
    rotate(-45deg);
}

@media (width <= 1200px) {
  .burger {
    --bar-gap: 0.4rem;
    --bar-height: 0.175rem;
  }
}

@media (width < 900px) {
  .menu {
    right: 3rem;
  }

  .burger {
    --bar-width: 1.5rem;
    --bar-height: 0.125rem;
  }
}

@media (width < 550px) {
  .menu {
    right: 1rem;
  }
}

@media (width < 450px) {
  .menu {
    right: 0.5rem;
  }
}
