.dropdownButton {
  padding: 0.5rem 1rem;
  color: var(--color-black);
}

.menu {
  display: none;
  position: absolute;
  top: 5rem;
  right: 5rem;
  list-style: none;
  padding: 0;
  width: 10rem;
  background-color: var(--color-almost-white);
  border: 0.0625rem solid var(--color-dark);
  box-shadow: 0.25rem 0.25rem var(--color-black);
}

.menu[data-open="true"] {
  display: block;
}

.menu > li > a {
  display: flex;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-family: var(--font-sans);
  font-variation-settings: "wght" 500;
  color: var(--color-black);

  /* placeholder values */
  font-size: 1rem;
}

.menu > li:hover {
  background-color: var(--color-dark);
}

.menu > li:hover > a {
  color: var(--color-almost-white);
}

.menu > li > a:focus-visible {
  outline: var(--focus-visible-wine);
  outline-offset: calc(var(--outline-offset) * -1);
}

.menu > li:not(:last-child) {
  border-bottom: 0.0625rem solid var(--color-dark);
}

.burger {
  display: grid;
  gap: 0.5rem;
}

.burger > span {
  width: 2rem;
  height: 0.25rem;
  background-color: var(--color-black);

  /* placeholder values */
  transition:
    transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.burger[data-open="true"] > span:nth-child(1) {
  transform: rotate(45deg) translate(0.55rem, 0.5rem);
}

.burger[data-open="true"] > span:nth-child(2) {
  opacity: 0;
}

.burger[data-open="true"] > span:nth-child(3) {
  transform: rotate(-45deg) translate(0.55rem, -0.5rem);
}

@media (width < 900px) {
  .burger {
    gap: 0.4rem;
  }

  .burger > span {
    width: 1.5rem;
    height: 0.125rem;
  }

  .burger[data-open="true"] > span:nth-child(1) {
    transform: rotate(45deg) translate(0.25rem, 0.5rem);
  }

  .burger[data-open="true"] > span:nth-child(3) {
    transform: rotate(-45deg) translate(0.25rem, -0.5rem);
  }
}

@media (width < 700px) {
  .menu {
    right: 3rem;
  }
}

@media (width < 550px) {
  .menu {
    right: 1rem;
  }
}

@media (width < 450px) {
  .menu {
    right: 0.5rem;
  }
}
