.newsContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(13, 1fr);
  height: calc(100 / 12 * 13dvh);
  font-family: var(--font-sans);
  font-variation-settings: "wght" 500;
  font-size: var(--step-0);
}

.newsContainer h2 {
  grid-column: 5 / 9;
  grid-row: 2 / 3;
  place-self: center;
  text-transform: uppercase;
  font-size: var(--step-5);
}

.newsContainer article {
  display: grid;
  grid-row: 3 / 13;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.newsContainer article:first-of-type {
  grid-column: 2 / 7;
}

.newsContainer article:last-of-type {
  grid-column: 7 / 12;
}

.newsContainer span {
  grid-column: 5 / 9;
  grid-row: 12 / 15;
  place-self: center;
}

.newsContainer span a {
  font-size: var(--step-2);
}

.newsContainer span a:hover {
  color: var(--color-dark);
}

.newsContainer span a:focus-visible {
  outline: var(--focus-visible-wine);
  outline-offset: var(--outline-offset);
}

@media (width < 1500px) {
  .newsContainer article:first-of-type {
    grid-column: 1 / 6;
    padding-inline-start: var(--offset-m);
  }

  .newsContainer article:last-of-type {
    grid-column: 8 / 13;
    padding-inline-end: var(--offset-m);
  }
}

@media (width < 900px) {
  .newsContainer {
    grid-template-rows: repeat(14, 1fr);
    height: calc(100 / 12 * 14dvh);
  }

  .newsContainer h2 {
    grid-row: 1 / 2;
    align-self: end;
    padding-block-end: var(--offset-s);
  }

  .newsContainer article {
    padding-inline: var(--offset-m);
  }

  .newsContainer article:first-of-type {
    grid-column: 1 / 13;
    grid-row: 2 / 8;
  }

  .newsContainer article:last-of-type {
    grid-column: 1 / 13;
    grid-row: 8 / 14;
  }

  .newsContainer span {
    grid-row: 14 / 15;
  }
}

@media (width < 550px) {
  .newsContainer h2 {
    grid-column: 4 / 10;
  }
}

@media (height < 800px) {
  .newsContainer {
    row-gap: var(--space-2xs);
    height: calc(100 / 12 * 16lvh);
  }

  .newsContainer h2 {
    padding-block-end: 0;
  }
}

@media (height < 600px) {
  .newsContainer {
    height: calc(100 / 12 * 18lvh);
  }
}

@media (height < 500px) {
  .newsContainer {
    height: calc(100 / 12 * 20lvh);
  }
}
