.newsBlock {
  display: grid;
  grid-column: 2 / 5;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  font-family: var(--font-sans);
  font-variation-settings: "wght" 500;
}

.newsBlock > :first-child {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-size: cover;
  background-position: center;
}

.newsBlock > :first-child::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: hsl(from hsl(180deg 100% 25%) h s l / 15%);
}

.newsBlock > :nth-child(2) {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  padding-left: 1rem;
  padding-block: 0.25rem;
  text-wrap: balance;
}

.newsBlock > :last-child {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  place-self: end;
  background-color: var(--color-teal);
  color: var(--color-white);
  padding: 0.25rem;
}

.newsBlock:first-of-type {
  grid-row: 2 / 4;
}

.newsBlock:nth-of-type(2) {
  grid-row: 4 / 6;
}

.newsBlock:last-of-type {
  grid-row: 6 / 8;
}
