.newsBlock {
  display: grid;
  grid-column: 2 / 5;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  font-family: var(--font-sans);
  font-variation-settings: "wght" 500;
  color: var(--color-text);
}

.newsBlock > :first-child {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  position: relative;
  overflow: hidden;

  & img {
    object-fit: cover;
  }
}

.newsBlock > :first-child::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsl(from var(--color-teal) h s l / 15%);
}

.newsBlock > :nth-child(2) {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  padding-left: var(--offset-l);
  padding-block: var(--offset-s);
}

.newsBlock > :last-child {
  --color-almost-white: hsl(30deg 5% 98%);

  grid-column: 3 / 4;
  grid-row: 2 / 3;
  place-self: end;
  background-color: var(--color-teal);
  color: var(--color-almost-white);
  padding: var(--offset-s);
  font-size: var(--step--2);
}

.newsText {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  max-height: calc(1.55em * 4);
  margin: 0;

  a {
    color: inherit;
  }
}

@supports (-webkit-line-clamp: 4) {
  .newsText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }
}

.newsBlock:first-of-type {
  grid-row: 2 / 4;
}

.newsBlock:nth-of-type(2) {
  grid-row: 5 / 7;
}

.newsBlock:last-of-type {
  grid-row: 8 / 10;
}

@media (width < 1600px) {
  .newsBlock {
    grid-column: 1 / 6;
  }

  .newsBlock > :first-child {
    grid-column: 1 / 3;
  }

  .newsBlock > :nth-child(2) {
    grid-column: 3 / 6;
  }

  .newsBlock > :last-child {
    grid-column: 5 / 6;
  }
}

@media (width< 900px) {
  .newsBlock {
    grid-column: 1 / 13;
    padding-bottom: var(--offset-xl);
  }

  .newsBlock:first-of-type {
    grid-row: 1 / 3;
  }

  .newsBlock:nth-of-type(2) {
    grid-row: 3 / 5;
  }

  .newsBlock:last-of-type {
    grid-row: 5 / 7;
  }

  .newsBlock > :first-child {
    grid-column: 1 / 4;
  }

  .newsBlock > :nth-child(2) {
    grid-column: 4 / 11;
  }

  .newsBlock > :last-child {
    grid-column: 9 / 13;
    margin-block-end: var(--offset-m);
  }
}

@media (height < 800px) {
  .newsBlock {
    padding-bottom: 0;
  }

  .newsBlock > :nth-child(2) {
    font-size: 0.875rem;
  }
}
