.layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(14, 1fr);
  height: calc(100 / 12 * 14dvh);
}

.title {
  grid-column: 1 / 13;
  grid-row: 3 / 5;
  place-self: center;
  font-size: clamp(
    calc(10 / var(--stringLength) * 8rem),
    40vw,
    calc(10 / var(--stringLength) * 18rem)
  );
  color: hsla(0deg 8% 83% / 50%);
  z-index: -1;
}

.mainContainer {
  grid-column: 2 / 12;
  grid-row: 4 / 14;
  background-color: beige;
}
