.button {
  display: none;
  position: fixed;
  bottom: 1.25rem;
  right: 1.75rem;
  padding: 1rem;
  border: 0.125rem solid
    color-mix(in lch, var(--color-dark) 1%, var(--color-wheat));
  background-color: var(--color-almost-white);
  box-shadow: 0 0 0 0.75rem var(--color-wheat) inset;
  border-radius: 0;
  cursor: pointer;
  z-index: 99;
  transition: box-shadow 0.25s ease-in-out;
}

.button:hover {
  box-shadow: 0 0 0 0.75rem var(--color-wheat) inset,
    0.25rem 0.25rem var(--color-dark);
}

.button:focus-visible {
  outline: 0.25rem solid var(--color-wine);
  outline-offset: 0.25rem;
}
