.button {
  display: none;
  position: fixed;
  bottom: 1.25rem;
  right: 1.75rem;
  padding: 1rem;
  border: 0.125rem solid var(--color-dark);
  background-color: var(--color-wheat);
  border-radius: 0;
  cursor: pointer;
  z-index: 99;
}
